@import "jquery-confirm/scss/jquery-confirm";

.axe-import-button a {
    text-decoration: none;
}

.jconfirm {
    @media (min-width: 992px) {
        .row {
            display: flex;
            width: auto;
        }
        .row > div {
            display: block;
        }
    }
}
