// Configuration
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & components
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
// Utilities
@import "bootstrap/scss/utilities/api";

a {
    color: #0073aa;
}

input.form-check-input[type="checkbox"],
input.form-check-input[type="radio"] {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    &:checked{
        background-color: #e74c3c;
        border-color: #e74c3c;
    }
}

.form-red{
    input.form-check-input[type="checkbox"],
    input.form-check-input[type="radio"] {
        &:checked{
            background-color: #e74c3c;
            border-color: #e74c3c;
        }
    }
}

.form-green{
    input.form-check-input[type="checkbox"],
    input.form-check-input[type="radio"] {
        &:checked{
            background-color: #2ecc71;
            border-color: #2ecc71;
        }
    }
}

.form-purple{
    input.form-check-input[type="checkbox"],
    input.form-check-input[type="radio"] {
        &:checked{
            background-color: #9b59b6;
            border-color: #9b59b6;
        }
    }
}

input.form-check-input[type="checkbox"]:checked::before {
    content: "";
}

.form-head {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
